.btn_main{
    margin-top: 10px;
}
.btn_main_1{
    padding: 13px 25px;
    background: rgb(11, 11, 11);
    border-radius: 50px;
    text-decoration: none;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease-in;
}
.btn_main_1 .icon{
    transition: all 0.3s ease-in;
}
.btn_main_1:hover .icon{
    transform: translateY(-1px);
}